<template>
  <nav :style="{ background }">
    <ul :style="{ background }">
      <figure class="logo">
        <img :src="imagePath" height="40px" width="40px" alt="">
      </figure>
      <li v-for="(link, index) in navigationLinks"
          :key="index"
          @mouseover="$event.currentTarget.style.backgroundColor = linkHoverBackground"
          @mouseleave="$event.currentTarget.style.backgroundColor = background"
      >
        <router-link
          :to="link.path"
          :style="{ color: linkColor }"
        >
          <i :class="link.icon"></i>
          {{ link.text }}
        </router-link>
      </li>
    </ul>
  </nav>
</template>
<script>
export default {
  name: 'NavigationBar',
  props: {
    navigationLinks: {
      type: Array,
      default: () => [],
    },
    background: {
      type: String,
      default: '#333',
    },
    linkColor: {
      type: String,
      default: '#DDD',
    },
    linkHoverBackground: {
      type: String,
      default: '#C2C5CC',
    },
    imagePath: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      hover: false,
    };
  },
};
</script>
<style scoped lang="scss">
nav {
  height: 60px;
  width: 100%;

  ul {
    display: flex;
    align-items: flex-end;
    height: 100%;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;

    figure {
      cursor: pointer;
    }

    a {
      display: flex;
      text-decoration: none;
      align-items: center;
    }

    li {
      list-style-type: none;
      padding: 10px 20px;

      i {
        margin-right: 10px;
        font-size: 22px;
      }
    }
  }
}


</style>
