<template>
  <div class="container">
    <h1>Latest reports</h1>
    <p class="error" v-if="error"> {{ error }}</p>
    <div class="reports container">
      <div
           class="report"
           v-for="(report, index) in reports"
           :key="report._id"
           v-bind:index="index"
      >
        <p><b>Team Member Name:</b> {{ report.teamMemberName }}</p>
        <p><b>Calendar Week:</b> {{ report.calendarWeek }}</p>
        <p><b>Current Issues:</b> {{ report.currentIssues }}</p>
        <p><b>Upcoming Issues:</b> {{ report.upcomingIssues }}</p>
        <p><b>Created At: {{ report.createdAt }}</b></p>
      </div>
    </div>
  </div>
</template>

<script>
import ReportService from '../services/ReportService';

export default {
  name: 'ReportsComponent',
  data() {
    return {
      reports: [],
      error: '',
    };
  },
  async created() {
    try {
      this.reports = await ReportService.getReports();
    } catch (e) {
      this.error = e.message;
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
div.container {
  max-width: 800px;
  margin: 0 auto;

  h1 {
    padding: 5px;
    border: 1px solid;
  }

  p.error {
    background-color: #FFCCCB;
    padding: 10px;
  }

  .reports.container {
    .report {
      border: 1px solid;
      margin: 2px 0;
      text-align: left;
      padding: 10px;
    }
  }

}


</style>
