<template>
  <div id="app">
    <navigation-bar
      :navigation-links="navigationLinks"
      :backgroundColor="backgroundColor"
      :image-path="require('./assets/logo.png')"
    />
    <router-view/>
  </div>
</template>
<script>
import NavigationBar from '@/components/NavigationBar.vue';

export default {
  components: {
    NavigationBar,
  },
  data() {
    return {
      navigationLinks: [
        {
          text: 'Add report',
          path: '/reports/add',
          icon: 'ion-ios-add-circle-outline',
        },
        {
          text: 'All reports',
          path: '/reports',
          icon: 'ion-ios-book',
        },
      ],
      backgroundColor: '#90EE90',
    };
  },
};
</script>

<style lang="scss">
@import url("https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css");

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
