<template>
  <div class="home">
    <ReportsComponent />
  </div>
</template>

<script>
// @ is an alias to /src
import ReportsComponent from '@/components/ReportsComponent.vue';

export default {
  name: 'Home',
  components: {
    ReportsComponent,
  },
};
</script>
